*.class
*.iml
**/target
bin/*
!integration/bin
dist
**/logs
*~
target
target-ide
.checkstyle
.classpath
.project
.settings
.idea
.iml
xtend-gen
yang-gen-config
yang-gen-sal
classes
.DS_STORE
.metadata
.vscode
ordmodels/src/main/java
tests/config.xml
tests/models
*.log
*.log.*
__pycache__
*.egg-info
.eggs
*.pyc
*.swp
nosetests.xml
api/src/main/java
api/src/main/java/org/opendaylight/yang/gen/v1/gnpy/path/rev190502/TeTpIdBuilder.java
api/src/main/java/org/opendaylight/yang/gen/v1/gnpy/path/rev190502/AccumulatedMetricTypeBuilder.java
# Sphinx documentation
.tox/
docs/_build/
honeynode-simulator/
pce/data
pce/some-output
integration/demo-adva*
integration/remote logs
integration/configs/sims/demo*
integration/configs/controllers/demo*
integration/**/conf-generated/*
.env.*
issues/
integration/**/docker-compose-generated.yml
integration/**/*-running.xml
integration/**/*-operational.xml
integration/bin/codetest.py
